@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    (Actually it's not. Come vist us!)<br />
    3555 N Moose Wilson Rd.<br />
    Jackson, WY 83001<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Publicity@Lucasfilm.com">Publicity@Lucasfilm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Publicity@SkywalkerRanch.com">Publicity@SkywalkerRanch.com</a>
</address>