@model IEnumerable<ThatMorningSmellCoffee.Models.Item>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This isn't Dagobah</h2>
        <p>
            That Morning Smell Coffee shop is full of awakening aromas of choice coffee blends.
            Thanks for stopping by to get your caffienated Star Wars geek on!
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <!--<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->  

        <script type="text/javascript">
        function filter() {
        $.ajax({
        type: "POST"
        , url: "Items/Filter"
        , data: JSON.stringify({ filterText: $("#txtFilter").val() })
        , contentType: 'application/json;'
        , success: function (result) {
        $("#tblItems").html(result);
        }
        });
        }
        </script>

        @Html.TextBox("txtFilter")
        <input type="button" value="Search Coffee" onclick="filter()" />
        <br />
        <div id="tblItems">
            @Html.Partial("_items", Model)
        </div>

</div>
    <div class="col-md-4">
        <h2>Know things like Yoda</h2>
        <p>Why Star Wars and coffee? Click the link to make the jump to lightspeed! 
            You'll arrive at the repository of Star Wars knowledge to find out its place in the universe!</p>
        <p><a class="btn btn-default" href="http://starwars.wikia.com/wiki/Coffee">Learn more &raquo;</a></p>
    </div>
</div>